h1 {
	font-size: 18px;
}
h2 {
	font-size: 14px;
}
#draggable { cursor: n-resize; }
#draggable2 { cursor: e-resize; }
#containment-wrapper { border:2px solid #ccc;  }

#timeline {
	width: 100%;
	height: 500px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 295px;
	position: relative;
	float:left;
	left:-306px;
}
#dates {
	
	height: 500px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}


#dates li {
	list-style-type: none;
}
#dates  li a{
	list-style: none;
	float: left;
	
	font-size: 14px;
	text-align: center;
	opacity:0.1;
	
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 40px;
	background-color: #000;
	color:#FFFFFF;
	text-decoration:none;
}
#dates li a.selected {
    background-color: #fff;
	color:#000;
    opacity:1;
	text-decoration:none;
}
.slide-img-div{
margin-left: 30px;
	margin-top: 40px;
float:left;
}
.slide-content-div{

margin-top: 40px;

color:#000;

text-align:justify;
position: relative;
}

#issues {
	overflow: hidden;
}	
#issues li {
	list-style: none;
	float: left;
	visibility:hidden;
}
#issues li.selected img {
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
#issues li h1 {
	color: #ffcc00;
	font-size: 48px;
	margin: 20px 0;
	text-shadow: #000 1px 1px 2px;
}
#issues li p {
	font-size: 14px;
	margin-right: 70px;
	font-weight: normal;
	line-height: 22px;
	text-shadow: #000 1px 1px 2px;
}
	
#grad_left,
#grad_right {
	width: 100px;
	height: 350px;
	position: absolute;
	top: 1px;
}
#grad_left {
	left: 0;
	background-image: url(../img/grad_left.png);
	background-repeat: repeat-y;
	background-position: top;
}
#grad_right {
	right: -1px;
	background-image: url(../img/grad_right.png);
	background-repeat: repeat-y;
	background-position: top;
}
	
#next,
#prev {
	position: absolute;
	top: 0;
	font-size: 70px;
	top: 0px;
	width: 40px;
	height: 40px;
	background-position: 0 1;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
#next:hover,
#prev:hover {
	background-position: 0 -39px;
	height: 40px;
}
#next {
	background-image: url('../images/next.png');
	margin: 0px;
	padding: 0px;
	right: 0px;
	top: 0px;
}
#prev {
	left: 0;
	background-image: url(../images/prev.png);
	top: 0px;
}
#next.disabled,
#prev.disabled {
}
#arrow_bg {
	height: 40px;
	width: 81px;
	
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	left: 70px;
	top: 0px;
}
