@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "MuseoSans";
	src: url("../fonts/MuseoSans-300.otf");
	
	font-family: "MuseoSans-100";
	src: url("../fonts/MuseoSans-100.otf");
	
	font-family: "MuseoSans-500";
	src: url("../fonts/MuseoSans_500.otf");

}
body{
background-color:#2f2f2f;
}


#map {
	float:left;
	border-right:1px solid #2f2f2f;
	border-top:1px solid #2f2f2f;
	
	margin-left:1px;
}
#map1 {
	float:left;
	border-left:1px solid #2f2f2f;
	border-top:1px solid #2f2f2f;
	
}

hr.style-six { border: 0; height: 0; border-top: 1px solid #fff; border-bottom: 1px solid #fff; }
.title_head {
	font-family: "MuseoSans-500";
	font-size: 18px;
	text-transform: uppercase;
	font-weight:bold;
	width:100%;
	color:#d1d1d1;
	
}
.title_content{
	margin: 11px 0px 10px 0px  !important;
}
.content{
font-family:"MuseoSans-500";
font-size:12px;
}
#address-container{
float:left;
bottom:0px;

}
#address-table td:nth-child(1){
  
	
}


#address-dubai tr td:nth-child(2){
    
 text-align:left;   
}
#address-table {
color:#AAAAAA;
height:100px;
text-align:right;
background:#181818;
margin-left:2px;;
}
#address-dubai tr td:nth-child(3){
text-align:right;
vertical-align:top;
padding-right:20px !important;
width:160px;
}
#address-dubai tr td:nth-child(2){ 
text-align:left; 
width:170px; 
color:#d1d1d1;
}
.color{
color:#d1d1d1;
}
td{
vertical-align:top;
padding-top:7px;
}
#address-mumbai td{
text-align:right;
vertical-align:top;
}
#address-mumbai tr td:nth-child(3){
text-align:right;
vertical-align:top;
padding-right:20px !important;
width:300px;
}
#address-mumbai tr td:nth-child(2){ 
 text-align:left; 
width:170px; 
color:#d1d1d1; 
}
#address-container{
height:100px;
}
#name-email-number-dubai{
width:50%;
}

/*==============================================*/
@media (min-height: 1024px) and (min-width: 768px){
.title_head {
	font-size: 12px;
	
}

.content{
font-size:8px;
}

}
/*==============================================*/

