

@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "MuseoSans";
	src: url("../fonts/MuseoSans-300.otf");
	
	font-family: "MuseoSans-100";
	src: url("../fonts/MuseoSans-100.otf");
}


#map {
	float:left;
	border:1px solid black;
}
#map1 {
	float:left;
	border:1px solid black;
}

hr.style-six { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
#title_head {
	font-family: "MuseoSans-100";
	font-size: 15px;
	text-transform: uppercase;
	font-weight:bold;
	width:100%;
	color:#FFFFFF;
}
.content{
font-family:"Arial";
font-size:10px;
}
#address-container{
float:left;
bottom:0px;

}

#address-table {
color:#fff;
height:150px;
text-align:right;
}
#address-dubai td{
text-align:right;
vertical-align:top;
}
td{
vertical-align:top;
padding-top:10px;
}
#address-mumbai td{
text-align:right;
vertical-align:top;
}
#address-container{
height:150px;
}
#name-email-number-dubai{
width:50%;
}
.address1{
	top:0px;
	color:#999999;
	width:50%;
	float:left;
	font-size:12px;
	font-family: "MuseoSans-100";
}
.address2{
	top:0px;
	color:#999999;
	width:50%;
	float:left;
	font-size:12px;
	font-family: "MuseoSans-100";
}



