@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "MuseoSans";
	src: url("../fonts/MuseoSans-300.otf");
	
	font-family: "MuseoSans-100";
	src: url("../fonts/MuseoSans-100.otf");
	
	font-family: "MuseoSans-500";
	src: url("../fonts/MuseoSans_500.otf");

}


#map {
	float:left;
	border:1px solid black;
}
#map1 {
	float:left;
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

hr.style-six { border: 0; height: 0; border-top: 1px solid #fff; border-bottom: 1px solid #fff; }
.title_head {
	font-family: "MuseoSans-500";
	font-size: 18px;
	text-transform: uppercase;
	font-weight:bold;
	width:100%;
	color:#FFFFFF;
	
}
.title_content{
	margin: 11px 0px 10px 0px  !important;
}
.content{
font-family:"MuseoSans-500";
font-size:12px;
}
#address-container{
float:left;
bottom:0px;

}
#address-table td:nth-child(1){
    
	
}
#address-dubai tr td:nth-child(2){
    
 text-align:left;   
}
#address-table {
color:#fff;
height:150px;
text-align:right;
}
#address-dubai tr td:nth-child(3){
text-align:right;
vertical-align:top;
padding-right:20px !important;
width:160px;
}
#address-dubai tr td:nth-child(2){ 
text-align:left; 
width:170px;  
}

td{
vertical-align:top;
padding-top:7px;
}
#address-mumbai td{
text-align:right;
vertical-align:top;
}
#address-mumbai tr td:nth-child(3){
text-align:right;
vertical-align:top;
padding-right:20px !important;
width:300px;
}
#address-mumbai tr td:nth-child(2){ 
 text-align:left; 
width:170px;  
}
#address-container{
height:150px;
}
#name-email-number-dubai{
width:50%;
}



