@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "MuseoSans";
	src: url("../fonts/MuseoSans-300.otf");
	
	font-family: "MuseoSans-100";
	src: url("../fonts/MuseoSans-100.otf");
}

#apDiv1 {
	position:fixed;
	width:770px;
	height:385px;
	z-index:2;
	right: 0px;
	bottom: 150px;
	background-color: #FFFFFF;
	overflow: hidden;
}
#contact_box_1 {
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 385px;
	width: 385px;
	color: #FFFFFF;
}

#title1 {
	font-family: "MuseoSans-100";
	font-size: 25px;
	text-transform: uppercase;
	margin-top:30px;
	padding: 30px 0px 0px 30px;
	width:100%;
}
#title2 {
	font-family: "MuseoSans-100";
	font-size: 25px;
	text-transform: uppercase;
	padding: 0px 0 0 30px;
	color:#666666;
}
#contact_form{
	height: 385px;
	width: 385px;
	float:left;
	padding:0px;
	padding-top:50px;
	font-family: "Arial";
	font-size:12px;
	color:#666666;
}
.sendmsg{
 background-color:#B72910;
 border:0px;
 padding:4px;
 float:right;
 font-size:12px;
 color:#ccc;
}
.sendmsg:hover{
	background-color:#000;
	color:#CCCCCC;
	cursor:pointer;
}
hr.style-six { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
#title_head {
	font-family: "MuseoSans-100";
	font-size: 14px;
	text-transform: uppercase;
	margin-top:30px;
	width:100%;
	color:#FFFFFF;
}
.address{
	color:#999999;
	width:40%;
	float:left;
	padding: 50px 0px 0px 20px;
	font-size:14px;
	font-family: "MuseoSans-100";
}
.text
{
	width:238px;
	height:25px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	background-color:#e5e5e5;
	border-style:none;
	list-style:none;
	text-decoration: none;
}
.textarea
{
width:238px;
height:105px;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
background-color:#e5e5e5;
border-style:none;
}

table td:first-child{
    width: 110px;
    overflow: hidden;
    display: inline-block;
	line-height:45px;
  	
}
table td:nth-child(2){
    width: 120px;
    overflow: hidden;
    
}
#contact_success{
display:none;
}
