body {
	color:#fff;
	font-family: "MuseoSans";
	font-size:12px;
	background-color: #000;
	overflow: hidden;
	margin:0px;
	background:url("../images/creativity/creativity_null.png");
	background-repeat:repeat;
	background-attachment:fixed;
	background-position: bottom ;
	background-size:51px 35px !important;
}
.container-outer{
	width:100%; height:4000px; position:fixed; bottom:68px;
	background:url("../images/creativity/creativity_bg_50.png");
	background-repeat:repeat;
	background-position: bottom;
	background-size:51px 35px !important;
}
.products-container-outer{width:100%; height:140px; position:fixed; bottom:68px;  }
.products-container{width:204px; height:140px; margin-left:auto; margin-right:auto;
	background-size: 204px 139px !important;
	background-position:top !important;
 }

.product-image{
	width:51px;
	height:35px;
	float:left;
	background-repeat:no-repeat !important;
	background-position: center !important;
	margin:0px !important;
	padding:0px !important;
	border-left:1px solid #222222 !important;
	border-bottom:1px solid #222222 !important;
	background-size:50px 34px !important;
}

.flip-box{
width:100%;
height:100%;
background-repeat:no-repeat !important;
background-position: center !important;
}
#info{
 background:#ccc; color:#000 !important;
}
.product-head{
	margin:10px;
	color:#000 !important;
	font-family: "MuseoSans" !important;
}
.product-description{
	margin:10px;
	margin-top:30px;
	color:#000 !important;
	font-family: "MuseoSans" !important;
}

#close-div{
	background:url("../images/creativity/mask_close.jpg") #222222 ;

	cursor: url(../images/creativity/close.png) , auto ;
	
	background-position:0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; 
	background-size: 12px 26px;
	width:12px;
	height:12px;
	display:none;
}
#close-div:hover{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-position:0px 12px;
	background-size: 12px 26px;
}




#social-div{
	width:150px;
	height:19px;
	background:url("../images/creativity/social_bg.png");
	background-size:150px 19px;
	display:none;
}

#social_facebook:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:150px 19px;
	background-position:-102px;
}
#social_google_plus:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:150px 19px;
	background-position:-118px;
}
#social_pintrest:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:150px 19px;
	background-position:-134px;
}

.social_link{
	cursor:pointer;
	display:block;
	float:right;
	width:16px;
	height:19px;
	
}



#product_bottom{
width:100%;
height:34px;
position:fixed; bottom:33px;
background:url("../images/creativity/creativity_bg_50.png");
background-repeat:repeat;
background-position: bottom;
background-size:51px 35px !important;
}






@media (min-width: 480px) {

body {
	color:#fff;
	font-family: "MuseoSans";
	font-size:12px;
	background-color: #000;
	overflow: hidden;
	margin:0px;
	background:url("../images/creativity/creativity_null.png");
	background-repeat:repeat;
	background-attachment:fixed;
	background-position: bottom ;
	background-size:101px 69px !important;
}
.container-outer{
	width:100%; height:4000px; position:fixed; bottom:68px;
	background:url("../images/creativity/creativity_bg_600.png");
	background-repeat:repeat;
	background-position: bottom;
	background-size:101px 69px !important;
}
.products-container-outer{width:100%; height:276px; position:fixed; bottom:68px;  }
.products-container{width:404px; height:276px; margin-left:auto; margin-right:auto;
	background-size: 404px 275px !important;
 }

.product-image{
	width:101px;
	height:69px;
	float:left;
	background-repeat:no-repeat !important;
	background-position: center !important;
	margin:0px !important;
	padding:0px !important;
	border-left:1px solid #222222 !important;
	border-bottom:1px solid #222222 !important;
	background-size:100px 68px !important;
}

.flip-box{
width:100%;
height:100%;
background-repeat:no-repeat !important;
background-position: center !important;
}



#close-div{
	background:url("../images/creativity/mask_close.jpg") #222222 ;

	cursor: url(../images/creativity/close.png) , auto ;
	
	background-position:0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; 
	background-size: 25px 50px;
	width:25px;
	height:25px;
	display:none;
}
#close-div:hover{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-position:0px 25px;
	background-size: 25px 50px;
}

#social-div{
	width:150px;
	height:19px;
	background:url("../images/creativity/social_bg.png");
	background-size:150px 19px;
	display:none;
}

#social_facebook:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:150px 19px;
	background-position:-102px;
}
#social_google_plus:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:150px 19px;
	background-position:-118px;
}
#social_pintrest:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:150px 19px;
	background-position:-134px;
}

.social_link{
	cursor:pointer;
	display:block;
	float:right;
	width:16px;
	height:19px;
	
}


#product_bottom{
width:100%;
height:69px;
position:fixed; bottom:-1px;
background:url("../images/creativity/creativity_bg_600.png");
background-repeat:repeat;
background-position: bottom;
background-size:101px 69px !important;
}


}

@media (min-width: 800px) {

body {
	color:#fff;
	font-family: "MuseoSans";
	font-size:12px;
	background-color: #000;
	overflow: hidden;
	margin:0px;
	background:url("../images/creativity/creativity_null.png");
	background-repeat:repeat;
	background-attachment:fixed;
	background-position: bottom ;
	background-size:151px 103px !important;
}
.container-outer{
	width:100%; height:4000px; position:fixed; bottom:100px;
	background:url("../images/creativity/creativity_bg_600.png");
	background-repeat:repeat;
	background-position: bottom;
	background-size:151px 103px !important;
}
.products-container-outer{width:100%; height:412px; position:fixed; bottom:100px;  }
.products-container{width:604px; height:412px; margin-left:auto; margin-right:auto;
	background-size: 604px 411px !important;
 }

.product-image{
	width:151px;
	height:103px;
	float:left;
	background-repeat:no-repeat !important;
	background-position: center !important;
	margin:0px !important;
	padding:0px !important;
	border-left:1px solid #222222 !important;
	border-bottom:1px solid #222222 !important;
	background-size:150px 102px !important;
}

.flip-box{
width:100%;
height:100%;
}



#close-div{
	background:url("../images/creativity/mask_close.jpg") #222222 ;
	cursor: url(../images/creativity/close.png) , auto ;
	background-position:0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; 
	background-size: 35px 75px;
	width:35px;
	height:35px;
	display:none;
}
#close-div:hover{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-position:0px 35px;
	background-size: 35px 70px;
}



#social-div{
	width:150px;
	height:19px;
	background:url("../images/creativity/social_bg.png");
	background-size:150px 19px;
	display:none;	
}
#social_facebook:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:150px 19px;
	background-position:-102px;
}
#social_google_plus:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:150px 19px;
	background-position:-118px;
}
#social_pintrest:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:150px 19px;
	background-position:-134px;
}

.social_link{
	cursor:pointer;
	display:block;
	float:right;
	width:16px;
	height:19px;
	
}




#product_bottom{
width:100%;
height:103px;
position:fixed; bottom:-3px;
background:url("../images/creativity/creativity_bg_600.png");
background-repeat:repeat;
background-position: bottom;
background-size:151px 103px !important;
}

}


@media (min-width: 900px ) { 


body {
	color:#fff;
	font-family: "MuseoSans";
	font-size:12px;
	background-color: #000;
	overflow: hidden;
	margin:0px;
	background:url("../images/creativity/creativity_null.png");
	background-repeat:repeat;
	background-attachment:fixed;
	background-position: bottom ;
	background-size:201px 138px !important;
}
.container-outer{
	width:100%; height:4000px; position:fixed; bottom:90px;
	background:url("../images/creativity/creativity_bg_800.png");
	background-repeat:repeat;
	background-position: bottom;
	background-size:201px 138px !important;
}
.products-container-outer{width:100%; height:552px; position:fixed; bottom:90px;  }
.products-container{width:804px; height:551px; margin-left:auto; margin-right:auto;
	background-size: 804px 552px !important;
 }

.product-image{
	width:201px;
	height:138px;
	float:left;
	background-repeat:no-repeat !important;
	background-position: center !important;
	margin:0px !important;
	padding:0px !important;
	border-left:1px solid #222222 !important;
	border-bottom:1px solid #222222 !important;
	background-size: 200px 137px !important;
}

.flip-box{
width:100%;
height:100%;
}



#close-div{
	background:url("../images/creativity/mask_close.jpg") #222222 ;
	cursor: url(../images/creativity/close.png) , auto ;
	background-position:0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; 
	background-size: 50px 100px;
	width:50px;
	height:50px;
	display:none;
}
#close-div:hover{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-position:0px 50px;
	background-size: 50px 100px;
}

#social-div{
	width:200px;
	height:25px;
	background:url("../images/creativity/social_bg.png");
	background-size:200px 25px;
	display:none;
}
#social_facebook:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:200px 25px;
	background-position:-137px;
}
#social_google_plus:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:200px 25px;
	background-position:-159px;
}
#social_pintrest:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:200px 25px;
	background-position:-178px;
}

.social_link{
	cursor:pointer;
	display:block;
	float:right;
	width:21px;
	height:25px;
	
}

#product_bottom{
width:100%;
height:138px;
position:fixed; bottom:-48px;
background:url("../images/creativity/creativity_bg_800.png");
background-repeat:repeat;
background-position: bottom;
background-size:201px 138px !important;
}

}



@media (min-width: 2000px) { 
body {
	color:#fff;
	font-family: "MuseoSans";
	font-size:12px;
	background-color: #000;
	overflow: hidden;
	margin:0px;
	background:url("../images/creativity/creativity_null.png");
	background-repeat:repeat;
	background-attachment:fixed;
	background-position: bottom ;
	background-size:316px 216px !important;
}
.container-outer{
	width:100%; height:4000px; position:fixed; bottom:100px;
	background:url("../images/creativity/creativity_bg.png");
	background-repeat:repeat;
	background-position: bottom;
	background-size:316px 216px !important;
}
.products-container-outer{width:100%; height:864px; position:fixed; bottom:101px;  }
.products-container{width:1264px; height:864px; margin-left:auto; margin-right:auto;
	background-size: 1264px 863px !important;
 }

.product-image{
	width:316px;
	height:216px;
	float:left;
	background-repeat:no-repeat !important;
	background-position: center !important;
	margin:0px !important;
	padding:0px !important;
	border-left:1px solid #222222 !important;
	border-bottom:1px solid #222222 !important;
	background-size:315px 215px !important;
}

.flip-box{
width:100%;
height:100%;
}


#close-div{
	background:url("../images/creativity/mask_close.jpg") #222222 ;
	cursor: url(../images/creativity/close.png) , auto ;
	background-position:0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; 
	background-size: 50px 100px;
	width:50px;
	height:50px;
	display:none;
}
#close-div:hover{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-position:0px 50px;
	background-size: 50px 100px;
}

#social-div{
	width:315px;
	height:40px;
	background:url("../images/creativity/social_bg.png");
	background-size:315px 40px;
	display:none;
}

#social_facebook:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:315px 40px;
	background-position:-210px;
}
#social_google_plus:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:315px 40px;
	background-position:-245px;
}
#social_pintrest:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:315px 40px;
	background-position:-280px;
}

.social_link{
	cursor:pointer;
	display:block;
	float:right;
	width:35px;
	height:40px;
	
}


#product_bottom{
width:100%;
height:216px;
position:fixed; bottom:-115px;
background:url("../images/creativity/creativity_bg.png");
background-repeat:repeat;
background-position: bottom;
background-size:316px 216px !important;
}



}

@media (min-width: 2560px) { 
body {
	color:#fff;
	font-family: "MuseoSans";
	font-size:12px;
	background-color: #000;
	overflow: hidden;
	margin:0px;
	background:url("../images/creativity/creativity_null.png");
	background-repeat:repeat;
	background-attachment:fixed;
	background-position: bottom ;
	background-size:400px 273px !important;
}
.container-outer{
	width:100%; height:4000px; position:fixed; bottom:100px;
	background:url("../images/creativity/creativity_bg.png");
	background-repeat:repeat;
	background-position: bottom;
	background-size:400px 273px !important;
}
.products-container-outer{width:100%; height:1092px; position:fixed; bottom:101px;  }
.products-container{width:1600px; height:1092px; margin-left:auto; margin-right:auto;
	background-size: 1600px 1091px !important;
 }

.product-image{
	width:400px;
	height:273px;
	float:left;
	background-repeat:no-repeat !important;
	background-position: center !important;
	margin:0px !important;
	padding:0px !important;
	border-left:1px solid #222222 !important;
	border-bottom:1px solid #222222 !important;
	background-size:400px 273px !important;
}

.flip-box{
width:100%;
height:100%;
}


#close-div{
	background:url("../images/creativity/mask_close.jpg") #222222 ;
	cursor: url(../images/creativity/close.png) , auto ;
	background-position:0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; 
	background-size: 50px 100px;
	width:50px;
	height:50px;
	display:none;
}
#close-div:hover{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-position:0px 50px;
	background-size: 50px 100px;
}

#social-div{
	width:400px;
	height:50px;
	background:url("../images/creativity/social_bg.png");
	background-size:400px 50px;
	display:none;
}
#social_facebook:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:400px 50px;
	background-position:-266px;
}
#social_google_plus:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:400px 50px;
	background-position:-311px;
}
#social_pintrest:hover{
	background:url("../images/creativity/social_bg_hover.png");
	background-size:400px 50px;
	background-position:-355px;
}
.social_link{
	cursor:pointer;
	display:block;
	float:right;
	width:45px;
	height:50px;
	
}


#product_bottom{
width:100%;
height:273px;
position:fixed; bottom:-173px;
background:url("../images/creativity/creativity_bg.png");
background-repeat:repeat;
background-position: bottom;
background-size:400px 273px !important;
}


}
