@font-face {
	font-family: "MuseoSans";
	src: url("../fonts/MuseoSans-300.otf");
}


body {
	color:#000000;
	font-family: "MuseoSans";
	font-size:12px;
	background-color: #dd4d31;
	overflow: hidden;
	margin:0px;

}


@media (min-width: 768px) {

.navbar-collapse{


}
.navbar-nav{
padding:0px  !important;
margin:0px  !important;
border-left:1px solid #dd4d31 !important;
background:#eaeaea !important;
}
.navbar {
min-height:30px !important;
padding:0px  !important;
margin:0px  !important;
border:1px solid #dd4d31 !important;
background:#eaeaea !important;
}

.navbar-nav > li{
height:30px !important;
width:150px !important;
padding:0px  !important;
margin:0px  !important;
border-right:1px solid #dd4d31 !important;
text-transform: capitalize !important;
text-align:left;
background:#eaeaea !important;
}
.dropdown > .dropdown-toggle a{
	padding-top:5px !important; 
	padding-bottom:5px !important;
	margin:0px  !important;
	display: block;
	text-transform: capitalize !important;
	color: #000 !important;
	font-size:14px;
	background:#eaeaea !important;
	
}

.dropdown > .dropdown-toggle a:hover{

	font-size:14px;
	overflow: hidden;
	color: #000 !important;
	background:#FFF !important;
	

}
.navbar-nav > li > a {
	padding-top:5px !important; 
	padding-bottom:5px !important;
	margin:0px  !important;
	display: block;
	text-transform: capitalize !important;
	color: #000 !important;
	font-size:14px;
	background:#eaeaea !important;
	
}


.navbar-nav > li > a:hover{

	font-size:14px;
	overflow: hidden;
	color: #000 !important;
	background:#FFF !important;
	

}


.dropdown-menu{
padding:0px !important;
bottom:30px !important;
width:120px !important;
color: #000 !important;
background:#eaeaea !important;
padding:0px !important;
margin:0px !important;
}
.dropdown-menu > li{
	margin:0px !important;
	width:120px !important;
	padding:0px !important;
}

.dropdown-menu > li > a{
	display:block;
	height: 25px;
	color:#000000;
	font-size:12px;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 14px;
	margin: 0px;
	text-transform: capitalize !important;
	overflow: hidden;
	color: #000 !important;
	font-size:12px;
	background:#eaeaea !important;
	font-family: "MuseoSans";
	border-bottom:1px solid #dd4d31 !important;
	border-right:1px solid #dd4d31 !important;
	width:120px !important;
}
.dropdown-menu > li > a:hover{
	text-decoration: none;
	margin: 0px;
	font-size: 12px;
	text-transform: capitalize !important;
	overflow: hidden;
	color:#000000;
	background:#FFF !important;
	font-family: "MuseoSans";
}




.navbar-brand{
width: 150px;
}

	#logo {
		height: 150px;
		width: 150px;
		text-decoration: none;
		background-color: #000000;
		float: left;
		position: fixed;
		visibility: visible;
		left: 1px;
		bottom: 1px;
		background-image: url(../images/logo.jpg);
		background-repeat: no-repeat;
		border:1px 0px 1px 1px solid #dd4d31 !important;
	}
}

