@font-face {
	font-family: "MuseoSans";
	src: url("../fonts/MuseoSans-300.eot");
	src: url('../fonts/MuseoSans-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/MuseoSans-300.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/MuseoSans-300.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/MuseoSans-300.svg#svgFontName') format('svg'); /* Legacy iOS */
}


body {
	color:#000000;
	font-family: "MuseoSans";
	font-size:12px;
	background-color: #dd4d31;
	overflow: hidden;
	margin:0px;

}
.copy-container{
	display:none;
}
.copy{
	display:none;
}

@media (min-width: 768px) {

.navbar-collapse{


}
.navbar-nav{
padding:0px  !important;
margin:0px  !important;
border-left:1px solid #dd4d31 !important;
background:#eaeaea !important;
}
.navbar {
min-height:49px !important;
padding:0px  !important;
margin:0px  !important;
border:1px solid #dd4d31 !important;
background:#c8c8c8 !important;
}

.navbar-nav > li{
height:49px !important;
width:149px !important;
padding:0px  !important;
margin:0px  !important;
border-right:1px solid #dd4d31 !important;
text-transform: capitalize !important;
text-align:left;
background:#eaeaea !important;

}

.navbar-nav > li > a {
	display:block;
	height:49px !important;
	line-height:20px;
	margin:0px  !important;
	display: block;
	text-transform: capitalize !important;
	color: #505050 !important;
	font-size:11px;

	background-image:url('../images/flip.gif');
	background-repeat:no-repeat;
	background-position:0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
}


.navbar-nav > li > a:hover{
	display:block;
	font-size:11 px;
	overflow: hidden;
	color: #FFF !important;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-image:url('../images/flip.gif');
	background-repeat:no-repeat;
	background-position:0px -51px;
	

}

.menu-active{
	display:block;
	height:49px !important;
	line-height:20px;
	margin:0px  !important;
	display: block  !important;
	text-transform: capitalize !important;
	color: #505050 !important;
	font-size:11px !important;

	background-image:url('../images/flip_white.gif') !important;
	background-repeat:no-repeat !important;
	background-position:0px 0px !important;
	-webkit-transition: all 0.3s ease-in-out !important;
	-moz-transition: all 0.3s ease-in-out !important;
	-o-transition: all 0.3s ease-in-out !important;
	-webkit-transition: all 0.3s ease-in-out !important;
	transition: all 0.3s ease-in-out !important;
}


.menu-active:hover{
	display:block !important;
	font-size:11px !important;
	overflow: hidden !important;
	color: #FFF !important !important;

	-webkit-transition: all 0.3s ease-in-out !important;
	-moz-transition: all 0.3s ease-in-out !important;
	-o-transition: all 0.3s ease-in-out !important;
	-webkit-transition: all 0.3s ease-in-out !important;
	transition: all 0.3s ease-in-out !important;
	background-image:url('../images/flip_white.gif') !important;
	background-repeat:no-repeat !important;
	background-position:0px -51px !important;
	

}


.dropdown-menu{
padding:0px !important;
bottom:48px !important;
left:0px;
color: #000 !important;
background:#eaeaea !important;
padding:0px !important;
margin:0px !important;
min-width:120px !important;
width:120px !important;
z-index: -1; 
	border-top:1px solid #dd4d31 !important;
	border-left:1px solid #dd4d31 !important;	
}
.dropdown-menu > li{
	margin:0px !important;
	width:120px !important;
	padding:0px !important;
}

.dropdown-menu > li > a{
	display:block;
	height: 25px;
	color:#505050;
	font-size:12px;
	text-decoration: none;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 14px;
	margin: 0px;
	text-transform: capitalize !important;
	overflow: hidden;
	
	font-size:12px;

	font-family: "MuseoSans";
	border-bottom:1px solid #dd4d31 !important;
	border-right:1px solid #dd4d31 !important;
	width:120px !important;

	background-image:url('../images/flip_sub.png');
	background-repeat:repeat-x;
	background-position:0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}

.dropdown-menu > li > a:hover{
	display:block;
	text-decoration: none;
	margin: 0px;
	font-size: 12px;
	text-transform: capitalize !important;
	overflow: hidden;
	color:#FFF;

	font-family: "MuseoSans";

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-image:url('../images/flip_sub.png');
	background-repeat:repeat-x;
	background-position:0px -25px;
}




.navbar-brand{
width: 150px;
}

	#logo {
		height: 150px;
		width: 150px;
		text-decoration: none;
		background-color: #000000;
		float: left;
		position: fixed;
		visibility: visible;
		left: 1px;
		bottom: 1px;
		background-image: url(../images/logo.jpg);
		background-repeat: no-repeat;
		border:1px 0px 1px 1px solid #dd4d31 !important;
	}


.copy-container{

	display:block;
	
}
.copy{

	display:block;
	padding:15px 20px 0px 0px;
	color:#505050;
}



}

