
.swiper-container {

}
.swiper-slide {

}



.swiper-container-horizontal{
min-width:1510px;
min-height:903px;
position:fixed;
bottom:-250px;
left:-151px;
}

.swiper-slide-horizontal {
min-width:302px;
min-height:903px;
width: 302px !important;
margin:0px 0px 0px 0px !important;
}

.swiper-slide-vertical {
min-width:302px;
min-height:301px;
width: 302px !important;
margin:0px 0px 0px 0px !important;
}


.inner{
	height: 1204px;
	width: 302px;	
	opacity: 1;
	
}

.swiper-slide-active .inner{
	height: 903px;
	width: 302px !important;
	opacity: 1;

}



.inner-vertical{
	height: 301px;
	width: 301px !important;
	color:#fff;
	line-height:200px;
	text-align:center;
	font-size:large;
	margin:1px 1px 0px 0px !important;
	background-color: black;
	opacity: 0;

}

.swiper-container-vertical-1 > .swiper-wrapper > .swiper-slide-active >.inner-vertical{
	background: black;
	opacity: 1;
}

.swiper-container-vertical-2 > .swiper-wrapper > .swiper-slide-active >.inner-vertical{
	background: black;
	opacity: .8;
}
.swiper-container-vertical-3 > .swiper-wrapper > .swiper-slide-active >.inner-vertical{
	background: black;
	opacity: .6;
}
.swiper-container-vertical-4 > .swiper-wrapper > .swiper-slide-active >.inner-vertical{
	background: black;
	opacity: .4;
}
.swiper-container-vertical-5 > .swiper-wrapper > .swiper-slide-active >.inner-vertical{
	background: black;
	opacity: .2;
}

.swiper-slide-active >.inner > .swiper-container > .swiper-wrapper > .swiper-slide >.inner-vertical{
	background-color: black;
	opacity: 0.8;
}
.swiper-slide-active >.inner > .swiper-container > .swiper-wrapper > .swiper-slide-active >.inner-vertical{
	background-color: black;
	opacity: 1;
}

.pagination {
	width:205px;
	position:fixed;
	z-index:200;
}
.swiper-pagination-switch {
	vertical-align: middle;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #494444;
	
	-webkit-transition: 400ms;
	-moz-transition: 400ms;
	-ms-transition: 400ms;
	-o-transition: 400ms;
	transition: 400ms;
	margin:0px;
	opacity:0.6
}

.swiper-pagination-switch:nth-child(2){
background: #000;
	opacity:0.6
}
.swiper-pagination-switch:nth-child(4){
background: #000;
	opacity:0.6
}

.swiper-active-switch {
	background: #fff !important;
	opacity:1 !important;
}
.swiper-pagination-switch:hover {
	background: #fff !important;
	opacity:1 !important;
}


.nav_up, .nav_down
{
	position: relative;
	display: block;
	width:50px;
	height:50px;
    background: url(../images/flip_vertical_arrows.png) no-repeat;
    overflow:hidden;
    /* opacity: .4; filter:alpha(opacity=40); */
	z-index:5;
	margin-bottom:1px;
}
.nav_up { background-position: 0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; }
.nav_down { background-position: -51px 0px; 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;}
.nav_up:hover { 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    background-position: 0px -51px; 
    /* opacity: .8; filter:alpha(opacity=80);  */
}
.nav_down:hover { 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    background-position: -51px -51px; 
    /* opacity: .8; filter:alpha(opacity=80);  */
}



#swiper_nav{ 
height:282px;width:50px; 
}

#keyboard-intro-home{
z-index:30;
}
