
.swiper-container {

}

.swiper-container-horizontal{
	min-width:1144px;
	height:1716px;
	position:fixed;
	bottom:-145px;
	left:-135px;
}

.swiper-slide-horizontal {
	min-width:572px;
	height:1716px;
	
}

.swiper-slide-vertical {
	min-width:572px;
	height:572px;
	margin:0px 0px 0px 1px !important;
}


.inner{
	height:1716px;
	width: 572px;	
	opacity: 1;
	
}

.swiper-slide-active .inner{
	height:1716px;
	width: 572px;
	opacity: 1;

}

.horizontal-single-slide{
	padding-top: 572px;
}


.inner-vertical{
	height: 572px;
	width: 572px;
	color:#fff;
	line-height:200px;
	text-align:center;
	font-size:large;
	margin-right:2px;
	margin-bottom:1px;
	opacity: 0.01;
	

}





.inner-vertical-active{
	background-color: black;
	opacity: 1;
	

}

.swiper-container-vertical-1 > .swiper-wrapper > .swiper-slide-active >.inner-vertical{
	background: black;
	opacity: 0.8;
}

.swiper-container-vertical-2 > .swiper-wrapper > .swiper-slide-active >.inner-vertical{
	background: black;
	opacity: 0.8;
}

.swiper-slide-active >.inner > .swiper-container > .swiper-wrapper > .swiper-slide >.inner-vertical{
	background-color: black;
	opacity: 0.8;
}
.swiper-slide-active >.inner > .swiper-container > .swiper-wrapper > .swiper-slide-active >.inner-vertical{
	background-color: black;
	opacity: 1;
	
}




.swiper-active-switch {
/*	background: #fff !important; */
	opacity:1 !important;
}

.nav_up, .nav_down
{
	position: relative;
	display: block;
	width:50px;
	height:50px;
    background: url(../images/flip_vertical_arrows.png) no-repeat;
    overflow:hidden;
    /* opacity: .4; filter:alpha(opacity=40); */
	z-index:5;
	margin-bottom:1px;
}
.nav_up { background-position: 0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; }
.nav_down { background-position: -51px 0px; 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;}
.nav_up:hover { 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    background-position: 0px -51px; 
    /* opacity: .8; filter:alpha(opacity=80);  */
}
.nav_down:hover { 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    background-position: -51px -51px; 
    /* opacity: .8; filter:alpha(opacity=80);  */
}




#swiper_nav{ 
height:100px;width:50px; 
}

