

.swiper-container-horizontal{
	position:fixed;
	height: 80% !important;
	width: 100% !important;
	
}

.swiper-slide-horizontal {
	height: 100% !important;
	width: 100%;	
	margin:-1px -1px 1px -210px !important;
}



.inner{
	display:block;
	height: 100% !important;
	width: 100% !important;
	opacity: 0.1;
	background:#000;
	color:#fff;
	
}

.swiper-slide-active .inner{
	height: 100%;
	width: 100%;
	opacity: 1;

}






