
.swiper-container {


}

.swiper-container-horizontal{
min-width:1610px;
min-height:1200px;
}

.swiper-slide-horizontal {
min-width:400px;
min-height:1200px;
margin:-1px -1px 1px 0px !important;
}

.swiper-slide-vertical {
min-width:400px;
min-height:400px;
margin:-1px -1px 2px 0px !important;
}


.inner{
	height: 1600px;
	width: 400px;	
	opacity: 0.1;
	
}

.swiper-slide-active .inner{
	height: 1200px;
	width: 400px;
	opacity: 1;

}



.inner-vertical{
	height: 400px;
	width: 400px;
	color:#fff;
	line-height:200px;
	text-align:center;
	font-size:large;
}

.inner-vertical{
	background-color: black;
	opacity: 0.2;

}

.swiper-slide-active >.inner-vertical{
	background-color: black;
	opacity: 1;
}





.pagination {
	width:164px;
	position:fixed;
	z-index:200;
}
.swiper-pagination-switch {
	vertical-align: middle;
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #000;
	cursor: pointer;
	-webkit-transition: 400ms;
	-moz-transition: 400ms;
	-ms-transition: 400ms;
	-o-transition: 400ms;
	transition: 400ms;
	margin-right:1px;
}
.swiper-active-switch {
	background: #fff;
}


.nav_up, .nav_down
{
	position: relative;
	cursor: pointer;
	display: block;
    background: url(../images/jssor_arrows.png) no-repeat;
    overflow:hidden;
    opacity: .4; filter:alpha(opacity=40);
	z-index:5;
	margin-bottom:1px;
}
.nav_up { background-position: 0px 0px; }
.nav_down { background-position: -40px 0px; }
.nav_up:hover { background-position: 0px 0px; opacity: .8; filter:alpha(opacity=80); }
.nav_down:hover { background-position: -40px 0px; opacity: .8; filter:alpha(opacity=80); }



#swiper_nav{ 
height:282px;width:50px; 
}

#keyboard-intro-home{
z-index:30;
}
