body {
	color:#fff;
	font-family: "MuseoSans";
	font-size:12px;
	background-color: #000;
	overflow: hidden;
	margin:0px;
	background-image:url("../images/products/product_null.png");
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-position: bottom;
}
.container-outer{
	width:100%; height:4000px; position:fixed; bottom:50px;
	background-image:url("../images/products/product_bg.png");
	background-repeat:repeat;
	background-position: bottom;
}
.products-container-outer{width:100%; height:912px; position:fixed; bottom:0px; display:none; }
.products-container{width:945px; height:645px; margin-left:auto; margin-right:auto; margin-bottom:265px; }

.product-image{
	width:315px;
	height:215px;
	float:left;
	background-repeat:no-repeat !important;
	background-position: center !important;

}
#info{
 background:#eaeaea; color:#000 !important;
}
.product-head{
	margin:10px;
	color:#000 !important;
	font-family: "MuseoSans" !important;
	font-size:16px;
}
.product-description{
	padding:10px;
	height:175px;
	color:#000 !important;
	font-family: "MuseoSans" !important;
	font-size:13px;
	display:table-cell !important;
	vertical-align:bottom !important;
}

@media (max-height: 720px) { 
.container-outer{
	width:100%; height:4000px; position:fixed; bottom:265px;
	background-image:url("../images/products/product_bg_small.png");
	background-repeat:repeat;
	background-position: bottom;
}
.product-image{
	width:283px;
	height:193px;
	float:left;
	background-repeat:no-repeat !important;
	background-position: center !important;

}
.products-container-outer{width:100%; height:845px; position:fixed; bottom:0px; display:none; }
.products-container{width:849px; height:579px; margin-left:auto; margin-right:auto; margin-bottom:300px; }


}


