body {
	color:#fff;
	font-family: "MuseoSans";
	font-size:12px;
	background-color: #000;
	overflow: hidden;
	margin:0px;
	background-image:url("../images/products/product_null.png");
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-position: bottom;
}
.container-outer{
	width:100%; height:4000px; position:fixed; bottom:50px;
	background-image:url("../images/products/product_bg.png");
	background-repeat:repeat;
	background-position: bottom;
}
.products-container-outer{width:100%; height:912px; position:fixed; bottom:0px; display:none; }
.products-container{width:945px; height:645px; margin-left:auto; margin-right:auto; margin-bottom:265px; }

.product-image{
	width:315px;
	height:215px;
	float:left;
}
#info{
 background:#ccc; color:#000 !important;
}
.product-head{
	margin:10px;
	color:#000 !important;
	font-family: "MuseoSans" !important;
}
.product-description{
	margin:10px;
	margin-top:30px;
	color:#000 !important;
	font-family: "MuseoSans" !important;
}
