
.scroll-pane { background:#000; overflow: auto; width: 100%; float:left; bottom:152px; position:fixed; z-index:200; 
border: 1px solid black;
border-top-color:#222222;
border-radius:0px !important;
overflow:hidden;
}
.ui-widget-content{border:0px;}

.scroll-content { min-width: 2400px; float: left; height: 48px; display:inline-block; background:#ccc !important;   }
.scroll-content-item { 
cursor: pointer; 
width: 200px; 
height: 48px; float: left; 
margin: 0px 0px 0px 0px; 
font-family: "MuseoSans"!important;
font-size: 12px; 
line-height: 48px; 
text-align: center; 
background:#eaeaea; 
color:#000;}
.scroll-content-item:hover{
	background:#fff !important;
	color:#000;

}
.scroll-bar-wrap { background: none; clear: right; padding:0px; margin: 0px; height: 36px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto; }
.scroll-bar-wrap .ui-handle-helper-parent { background: none; position: relative; width: 100%; height: 100%; margin: 0 auto;  }
.scroll-bar-wrap .ui-slider-handle { background: none; top:0px; height: 35px;  cursor: pointer; margin-top:0px; border:0px solid;  }
.scroll-bar-wrap .ui-slider-handle .ui-icon {width:76px; height:35px; margin: -9px auto 0; position: relative; top: 9px; background: url("../images/scroll-events.gif") no-repeat  ;  }
.scroll-bar-wrap:hover .ui-slider-handle:hover .ui-icon:hover {
background: url("../images/scroll-events-hover.gif") no-repeat  ;
}




@media (min-width: 2000px) { 

.scroll-pane { background:#000; overflow: auto; width: 100%; float:left; bottom:152px; position:fixed; z-index:200; 
border: 1px solid black;
border-top-color:#222222;
border-radius:0px !important;
overflow:hidden;
}
.ui-widget-content{border:0px;}

.scroll-content { min-width: 3780px; float: left; height: 75px; display:inline-block; background:#ccc !important;   }
.scroll-content-item { 
cursor: pointer; 
width: 315px; 
height: 75px; float: left; 
margin: 0px 0px 0px 0px; 
font-family: "MuseoSans"!important;
font-size: 14px; 
line-height: 75px; 
text-align: center; 
background:#eaeaea; 
color:#000;}
.scroll-content-item:hover{
	background:#fff !important;
	color:#000;

}
.scroll-bar-wrap { background: none; clear: right; padding:0px; margin: 0px; height: 36px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto; }
.scroll-bar-wrap .ui-handle-helper-parent { background: none; position: relative; width: 100%; height: 100%; margin: 0 auto;  }
.scroll-bar-wrap .ui-slider-handle { background: none; top:0px; height: 35px;  cursor: pointer; margin-top:0px; border:0px solid;  }
.scroll-bar-wrap .ui-slider-handle .ui-icon {width:76px; height:35px; margin: -9px auto 0; position: relative; top: 9px; background: url("../images/scroll-events.gif") no-repeat  ;  }
.scroll-bar-wrap:hover .ui-slider-handle:hover .ui-icon:hover {
background: url("../images/scroll-events-hover.gif") no-repeat  ;
}

}

